:root {
	--color-fondo: rgb(245, 245, 245);
	--color-letra: 	rgb(0, 59, 99);
	--color-letra-intenso: rgb(29, 49, 105);

	--color-fondo-tema: rgb(82, 124, 128);
	--color-neutro-fondo: rgb(218,218,218);
	--color-letra-tema: rgb(255, 255, 255);

	--color-fondo-registros: rgb(107, 123, 133);
	--color-letra-registros: rgb(255, 255, 255);

	--color-fondo-error: rgb(107, 123, 133);
	--color-letra-error: rgb(255, 158, 158);
	
	--color-fondo-parrilla: rgb(238, 238, 238);

	--color-fondo-parrilla-header: rgb(222, 234, 246);
	--letra-familia: "Helvetica Neue",Arial,sans-serif;
	--letra-dockbar: 24pt;
	--letra-grande: 14pt;
	--letra: 11pt;
	--letra-pequena: 9pt;
}

*{
	margin:0;
	padding:0;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

body{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin-top: 80px;
	margin-bottom: 60px;
	background-color: rgb(250, 250, 250);
}

.dockbar{
	background-color: rgb(82, 124, 128);
	color: white;
    overflow: hidden;
    white-space: nowrap;
}

#zone1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
}

.container{
	padding: 10px;
	margin: 5px;
}
#title {
	float: left;
}

#logo-container{
	float: left;
	display: block;
}

#logo-container > img {
	height: 50px;
	width: 50px;
	float: left;
}

.login-container {
	float: right;
	white-space: nowrap;
	margin-right: 20px;
}

#datazones{
	display: table;
	width: 100%;
	height: 100%;
}

#datazonesrow {
	display: table-row;
}


#zone2-container {
	display: table-cell;
	width: 240px;
	height: 100%;
	padding: 15px 10px;
}

#zone2 {
	width: 100%;
	height: 100%;
	border: 1px solid rgb(82, 124, 128);
	border-radius: 15px;
}

#zone2 div, #zone3 div {
	padding: 20px;
}

#sitemap-container {
	margin-left: 10px;
	margin-right: 10px;
}

#sitemap-container .selected {
	color: rgb(82, 124, 128);
	font-weight: bolder;
	font-size: 18px;
}

#sitemap-container > ul{
	margin-top: 10px;
}

.ullevel0 > li{
	margin: 16px 0px;
}
.ullevel1{
	margin: 5px 5px 5px 25px;
}


#zone3-container {
	display: table-cell;
	width: auto;
	height: 100%;
	padding: 15px 10px;
}

#zone3 {
	width: 100%;
	height: 100%;
	border: 1px solid rgb(82, 124, 128);
	border-radius: 15px;
}

#data-container > h3 {
	text-align: center;
	margin-bottom: 20px;
}

#children-boxes-container {
	margin: 20px;
}

#children-boxes-container > h4 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#children-boxes-container >	ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: auto;
}

#children-boxes-container > ul > a {
	text-decoration: none;
	color: initial;
}

#children-boxes-container >	ul li img {
	float: left;
	margin: 0 15px 0 0;
	height: 70px;
	width: 70px;
}

#children-boxes-container > ul li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#children-boxes-container > ul li {
	padding: 10px;
	overflow: auto;
	width: 400px;
}

#children-boxes-container > ul li:hover {
	background: #eee;
	cursor: pointer;
}

#error-container {
	background-color: #f5e9cc;
	border: 2px solid #f6b73c;
	border-radius: 10px;
	margin: 40px 5px;
	margin-left: 10%;
	max-width: 600px;
}

#error-container > img{
	height: 60px;
	width: 60px;
	margin-right: 20px;
	margin-left: 10px;
	float: left;
}

#error-container #error-description-container {
	background-color: #f6b73c;
	border: 2px solid #f5e9cc;
	border-radius: 10px;
	padding: 5px 15px;
	margin-left: 90px;
	margin-top: 10px;
}

#zone4 {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}