:root {
	--color-fondo: rgb(245, 245, 245);
	--color-letra: 	rgb(0, 59, 99);
	--color-letra-intenso: rgb(29, 49, 105);

	--color-fondo-tema: rgb(82, 124, 128);
	--color-neutro-fondo: rgb(218,218,218);
	--color-letra-tema: rgb(255, 255, 255);

	--color-fondo-registros: rgb(107, 123, 133);
	--color-letra-registros: rgb(255, 255, 255);

	--color-fondo-error: rgb(107, 123, 133);
	--color-letra-error: rgb(255, 158, 158);
	
	--color-fondo-parrilla: rgb(238, 238, 238);

	--color-fondo-parrilla-header: rgb(222, 234, 246);
	--letra-familia: "Helvetica Neue",Arial,sans-serif;
	--letra-dockbar: 24pt;
	--letra-grande: 14pt;
	--letra: 11pt;
	--letra-pequena: 9pt;
}

*{
	margin:0;
	padding:0;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

body{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin-top: 80px;
	margin-bottom: 60px;
	background-color: rgb(250, 250, 250);
}

.dockbar{
	background-color: rgb(82, 124, 128);
	color: white;
    overflow: hidden;
    white-space: nowrap;
}

#zone1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
}

.container{
	padding: 10px;
	margin: 5px;
}
#title {
	float: left;
}

#logo-container{
	float: left;
	display: block;
}

#logo-container > img {
	height: 50px;
	width: 50px;
	float: left;
}

.login-container {
	float: right;
	white-space: nowrap;
	margin-right: 20px;
}

#datazones{
	display: table;
	width: 100%;
	height: 100%;
}

#datazonesrow {
	display: table-row;
}

#zone2-container {
	display: table-cell;
	width: 240px;
	height: 100%;
	padding: 15px 10px;
}

#zone2 {
	width: 100%;
	height: 100%;
	border: 1px solid rgb(82, 124, 128);
	border-radius: 15px;
}

#zone3-container {
	display: table-cell;
	width: auto;
	height: 100%;
	padding: 15px 10px;
}

#zone3 {
	width: 100%;
	height: 100%;
	border: 1px solid rgb(82, 124, 128);
	border-radius: 15px;
}

#zone4 {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
}