:root {
    --color-fondo: rgb(245, 245, 245);
    --color-letra: rgb(0, 59, 99);
    --color-letra-intenso: rgb(29, 49, 105);
    --color-fondo-tema: rgb(82, 124, 128);
    --color-neutro-fondo: rgb(218, 218, 218);
    --color-letra-tema: rgb(255, 255, 255);
    --color-fondo-registros: rgb(107, 123, 133);
    --color-letra-registros: rgb(255, 255, 255);
    --color-fondo-error: rgb(107, 123, 133);
    --color-letra-error: rgb(255, 158, 158);
    --color-fondo-parrilla: rgb(238, 238, 238);
    --color-fondo-parrilla-header: rgb(222, 234, 246);
    --letra-familia: "Helvetica Neue", Arial, sans-serif;
    --letra-dockbar: 24pt;
    --letra-grande: 14pt;
    --letra: 11pt;
    --letra-pequena: 9pt;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-letra);
    font-family: var(--letra-familia);
    line-height: 1.4;
}

#dockbar {
    background-color: var(--color-fondo-tema);
    color: var(--color-letra-tema);
    padding: 15px 0px 15px;
    font-weight: bolder;
    width: 100%;
    font-size: var(--letra-dockbar);
    text-align: center;
}

#dockbar>#logo {
    height: 50px;
    width: 50px;
    position: absolute;
    text-align: center;
    left: 60px;
}

#dockbar>span {
    align-content: center;
    left: 80px;
    margin: 0 150px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#bodycontent {
    margin: 0 10% 0;
}

#bodycontent>#data {
    margin: auto;
    max-width: 1700px;
    min-width: 800px;
}

#inforegistros {
    font-weight: bold;
    background-color: var(--color-fondo-registros);
    color: var(--color-letra-registros);
    padding: 10px 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--letra-grande);
    border-radius: 5px;
}

#parrilladiv {
    overflow: scroll;
    max-height: 300px;
}

table.parrilla {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--color-fondo-parrilla);
    width: 110rem;
    text-align: left;
    border-collapse: collapse;
}

table.parrilla td,
table.parrilla th,
.th {
    padding: 5px 5px;
}

table.parrilla tr th,
.th {
    font-weight: bold;
    background-color: var(--color-fondo-parrilla-header);
    color: var(--color-letra-intenso);
    border-bottom: 5px solid var(--color-letra-intenso);
}

table>tr {
    font-size: var(--letra-grande);
}

table td {
    font-size: var(--letra);
}

.th {
    text-align: center;
}

.fixedwidth {
    width: 30rem;
}

.tablaresaltada {
    font-weight: bold;
    background-color: var(--color-fondo-parrilla-header);
    color: var(--color-letra-intenso);
}

#errormsg {
    background-color: var(--color-fondo-error);
    color: var(--color-letra-error);
    font-size: var(--letra-dockbar);
    font-weight: bold;
    padding: 15px 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}